<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Portal</title>
<base href="'/">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <style type="text/css">
        #navcolor {
            background-color: #092e49;
        }

        #navlink a:link {
            color: #FFFFFF;
        }

        #navlink a:visited {
            color: #FFFFFF;
        }

        .navbar-default .navbar-brand {
            color: #FFFFFF;
        }

        h1 {
            text-align: center;
        }
        .center-container {
            display: flex;
            justify-content: center; /* Horizontally center */
            align-items: center; /* Vertically center */
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <nav class="navbar navbar-default" id="navcolor">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" (click)=goToUserMenu()>
                                <font color="white">Menu</font>
                            </a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav" id="navlink">
                                <li><a (click)="goToUserFunc()">
                                        <font color="white">User 201 Cat</font>
                                    </a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right" id="navlink">
                                <li><a (click)="logout()">
                                        <font color="white">Logout</font>
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="center-container">
                <!-- Use th:src to reference the image in the static folder -->
                <img src="/assets/images/201.jpg" alt="User 201" /></div>
            <div class="center-container">
                <h1>THIS IS USER 201 CAT!</h1>
            </div>
            <h1>You call this page for {{funcCnt}} time(s)!</h1>
        </div>
    </div>

    <!-- Free template by www.devbanban.com  -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>

</html>